.footer{
    background-color: #F4F4F2;
    padding: 56px 0 63px 0;
}
.footer_title{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.875px;
    text-transform: uppercase;
    padding-bottom: 32px;
}
.footer-painters{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-painter{
    border: 1px solid rgba(101, 99, 95, 0.2);
    display: flex;
    align-items: center;
    max-width: 325px;
    width: 100%;
}
.footer-painter-img{
    max-width: 80px;
}
.footer-painter-info{
    padding-left: 24px;
}
.footer-painter-info_name{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272727;
}
.footer-painter-info-profesional{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #65635F;
}
