.admin-ico{
    background-image: url(../images/admin.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    padding: 50px 15px 40px 15px;
    background-color: #fff;
    z-index: 999999;
}
.header__fon{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9;
    transition: .3s;
    background-color: #16141229;
}
.hed-hide{
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    top: -100%;
    right: 50%;
}
.header-body-box{
    display: flex;
    align-items: center;
}
#header-body-box-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
    padding: 0 20px;
    text-align: center;
}
.header-body-box-list_link{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.875px;
    text-transform: uppercase;
    color: #161412;
    padding: 0 10px;
}
.crear__buscet{
    color: #7b7b7b;
    font-size: 18px;
    cursor: pointer;
}
.bascet-content{
    margin-top: 30px;
    height: 400px;
    padding-right: 30px;
    overflow-y: scroll;
}
.buscet-button{
    background: #161412;
    border-radius: 2px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 92px;
    width: 100%;
    text-align: center;
}
.all__price{
    font-size: 20px;
    font-weight: 700;
}
.bascet-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-top: 20px;
}
.bascet-content-product{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.bascet-content-product-body-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 0 0px;
}
.bascet-content-product-del{
    background-image: url(../images/clear.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 35px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.bascet-content-product-body-img{
    max-width: 130px;
}
.bascet-content-product-body-name{
    font-size: 16px;    
}
.bascet-content-product-body-price{
    font-size: 18px;
    font-weight: 700;
}
.bascet{
    background-color: #fff;
    position: absolute;
    top: 100px;
    right: 0;
    padding: 20px 0px 20px 50px;
    box-shadow: -14px 14px 34px -27px #272727;
    height: 100vh;
    width: 350px;
    transition: .3s ease;
}
.search{
    width: 21px;
    height: 26px;
    background-image: url(../images/search.png);
    background-position: bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    background-size: 18px;
    background-position: 0px 7px;
}
.search_body-show{
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}
.search-list{
    position: absolute;
    margin-bottom: -150px;
    z-index: 99999;
    padding: 20px;
    border-radius: 20px;
    width: 240px;
    top: 120px;
}
.search-list{
    background-color: #fff;
}
.button-search{
    font-size: 14px;
    background-color: #7b7b7b;
    padding: 0 10px;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
.search-fon{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #90909027;
    cursor: pointer;
    z-index: 9999;
}
.input-show{
    opacity: 1;
    visibility: visible;
    background: #fafafa;
    font-size: 14px;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid #272727;
    width: 200px;
    transition: .2s;
    margin-right: -25px;
}
#hide{
    display: none;
}
.search_body:hover .input-hide{
    opacity: 1;
    visibility: visible;
    width: 200px;
}
.search_body:hover .search{
    pointer-events: none;
}
.search_body-show .input-hide{
    background: #fafafa;
    font-size: 14px;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid #272727;
    width: 200px;
    transition: .2s;
    margin-right: -25px;
}
.search_body .input-hide{
    background: #fafafa;
    font-size: 14px;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid #272727;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: .2s;
    margin-right: -25px;
}
.search_body{
    display: flex;
    position: relative;
}
.busket{
    width: 20px;
    height: 17px;
    margin-left: 16px;
    margin-right: 15px;
    background-image: url(../images/busket.png);
    background-repeat: no-repeat;
}
.call_title{
    font-size: 22px;
    padding-bottom: 50px;
}
#call-m{
    height: 300px;
}
.header-body_logo{
    margin-right: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: lowercase;
    color: #161412;
    cursor: pointer;
}
.burger-list-show{
    display: none;
}
.search-list-link{
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
    color: #161412;
    line-height: 30px;
    border-bottom: 1px solid #161412;
}
.length{
    margin-left: 14px;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 20px;
    color: #a20000;
}
@media(max-width: 800px){
    #header-body-box-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 480px;
        padding: 0 20px;
        text-align: center;
    }
    .burger-list-hide{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #F4F4F2;
        width: 100%;
        padding: 100px 0;
        display: flex;
        justify-content: center;
        z-index: 99999;
        transition: .3s;
        transform: translateY(-285px);
    }
    .burger-list-show{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #F4F4F2;
        width: 100%;
        padding: 100px 0;
        display: flex;
        justify-content: center;
        z-index: 99999;
        transition: .3s;
        transform: translateY(0px);
    }
    #burger{
        cursor: pointer;
        z-index: 999999;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
        right: 15px;
    }
    .busket{
        margin-right: 70px;
    }
    .burger-line-1{
        width: 25px;
        height: 2px;
        background-color: #161412;
        transition: .3s;
    }
    .burger-line-2{
        width: 25px;
        height: 2px;
        background-color: #161412;
        margin: 6px 0;
        transition: .3s;
    }
    .burger-line-3{
        width: 25px;
        height: 2px;
        background-color: #161412;
        transition: .3s;
    }
    .active .burger-line-1{
        transform: rotate(-45deg);
        margin-bottom: -16px;
    }
    .active .burger-line-2{
        opacity: 0;
    }
    .active .burger-line-3{
        transform: rotate(45deg);
        
    }
}
@media(max-width: 530px){
    .button-search {
        font-size: 10px;
        background-color: #7b7b7b;
        padding: 0 5px;
        color: #fff;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
    }
    .search-list{
        width: 215px;
    }
}
