.product{
    padding-top: 118px;
}
.product-columns{
    display: flex;
}
.product-column-left{
    background: #F4F4F2;
    width: 100%;
    position: relative;
    height: 750px;
}
.opas{
    opacity: .5;
}
.tabs{
    display: flex;
    justify-content: space-between;
}
.tabs-link img{
    margin-top: 20px;
    max-width: 50px;
    cursor: pointer;
}
.product-column-right{
    background: #fff;
    width: 100%;
}
.categories-link-mob{
    display: none;
}
.product-column-left-slider-img{
    width: 408px;
    max-height: 500px;
}
.product-column-right-back{
    display: flex;
    align-items: center;
}
.product-column-right-back-arrow{
    margin-right: 8px;
    width: 16px;
    height: 16px;
}
.product-column-left-bottom{
    display: flex;
    margin-top: 30px;
}
.product-column-left-bottom-box{
    display: flex;
    align-items: center;
}
.product-column-left-bottom-box:nth-child(1){
    margin-right: 33px;
}
.product-column-left-bottom-box-text{
    padding-left: 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: #161412;
}
.product-column-right-back-title{
    font-size: 40px;
    line-height: 48px;
    color: #161412;
    padding: 25px 0 8px 0;
}
.product-column-right-back-text{
    font-size: 21px;
    line-height: 25px;
    color: #161412;
}
.product-column-right-back-info{
    font-size: 16px;
    line-height: 24px;
    color: #65635F;
    padding-top: 25px;
}
.product-column-right-content{
    max-width: 395px;
    width: 100%;
}
.product-column-right-block{
    border-bottom: 0.5px solid rgba(101, 99, 95, 0.6);
    padding-bottom: 31px;
    margin-bottom: 23px;
}
.product-column-right-block-last-price{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #161412;
}
.product-column-right-block-last-send{
    margin-top: 23px;
    background: #161412;
    border-radius: 2px;
    padding: 12px 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 392px;
    width: 100%;
}

.product-column-left-content{
    position: absolute;
    right: 120px;
    top: 113px;
}

.product-column-right{
    position: relative;
}
.product-column-right-content{
    position: absolute;
    left: 96px;
    top: 72px;
}

.product-column-left-content .slick-track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.product-column-left-content-sl{
    overflow: hidden;
    max-width: 408px;
}
.product-column-left-content .main-slider{
    overflow: hidden;
    width: 408px;
}
.slick-dots li{
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li button{
    font-size: 0;
    background-image: url(../images/Painting-2.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 48px;
    padding: 8px 11px;
}
.slick-dots .slick-active{
    border: 1px solid #D2CFC8;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots{
    position: absolute;
    left: -100px;
    top: 70px;
}
.pr-hide{
    display: none;
}
.product-column-right-back-text-arrow{
    position: relative;
    padding-left: 30px;
}
.product-column-right-back-text-arrow::before{
    content: '';
    background-image: url(../images/arrow-back.png);
    background-size: 15px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0px;
    top: 4px;
}
.room{
    background-image: url(../images/room.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    text-align: center;

}
.room-img{
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    margin-top: 80px;
}
.room-size{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: lowercase;
    color: rgba(101, 99, 95, 0.6);
    padding-top: 51px;
}
.categories{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 30px 100px;
}
.categories-painters{
    display: flex;
    justify-content: center;
    border-top: 1px solid #272727;
    padding: 30px 0;
    margin: 0px 100px;
}
.right-ico{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/glas.png);
    width: 13px;
    height: 16px;
    cursor: pointer;
}
.left-ico{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Group.png);
    width: 20px;
    height: 15px;
    cursor: pointer;
}
.categories-painters p{
    margin: 0 20px;
}

.categories-link{
    background: #161412;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    transition: .1s;
    cursor: pointer;
}
.categories.hide{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 30px 100px;
}
    .categories .categories-link:hover{
        background: gray;
        color: #000
    }
@media(max-width: 1300px){
    .product-column-right-content {
        left: 50px;
        top: 60px;
        padding-right: 15px;
    }
    .product-column-left-content {
        position: absolute;
        right: 30px;
        top: 115px;
    }
    .product .slick-slide{
        max-width: 270px;
    }
    .slick-dots li button{
        font-size: 0;
        background-image: url(../images/Painting-2.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 30px;
        padding: 0;
    }
    .slick-dots li{
        width: 40px;
        height: 45px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-dots .slick-active{
        width: 40px;
        height: 45px;
    }
    .slick-dots{
        position: absolute;
        left: -50px;
        top: 40px;
    }
}
@media(max-width: 1000px){
    .tabs-link img {
        max-width: 42px;
        margin: 20px 10px;
        cursor: pointer;
    }
    .categories {
        padding: 0 0px 30px 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .categories-link{
        margin: 20px;
    }
    .product-column-left-slider-img {
        max-width: 330px;
        width: 100%;
        max-height: 365px;
    }
    .product-column-right-content{
        max-width: 350px;
    }
}
@media(max-width: 800px){
    .categories .categories-link{
        margin: 2px 0;
    }
    .categories .categories-link:hover{
        margin: 2px 0;
        height: 100%;
    }
    .categories .categories-link:hover{
        border: 4px solid rgb(164, 164, 164);
        border: 4px solid rgb(164, 164, 164);
    }
    .product-columns{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .product-column-right-content{
        padding: 0 15px 70px 15px;
        margin: 0 auto;
        position: inherit;
        left: 0;
    }
    .slick-dots {
        position: absolute;
        left: 0;
        top: 235px;
        display: flex;
        flex-direction: row;
      }
    .pr-hide{
        display: block;
        padding: 0 15px 50px 15px;
    }
    .pr-show{
        display: none;
    }
    .product-columns{
        flex-direction: column;
    }
    .product-column-left-bottom {
        display: flex;
        max-width: 358px;
        margin: 0 auto;
    }
    .product-column-left-content {
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        right: 0;
        left: 0;
    }
    .product-column-left-bottom-box:nth-child(1) {
        margin-right: 0px;
    }
    .product-column-left-bottom-box{
        margin: 20px;
    }
    .product-column-left{
        overflow: hidden;
        height: 850px;
    }
    .tabs-link{
        height: 90px;
    }
    .product-column-left-content-sl{
        margin: 0 auto;
        padding: 0 15px;
    }
    .categories-link-mob{
        display: block;
        position: relative;
    }
    .categories-link-mob::after{
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
        background-color: #fff;
        width: 12px;
        height: 2px;
        transform: rotate(-45deg);
    }
    .categories-link-mob::before{
        content: '';
        display: block;
        position: absolute;
        right: 28px;
        top: 15px;
        background-color: #fff;
        width: 12px;
        height: 2px;
        transform: rotate(45deg);
    }
    .categories-link-mob:hover{
        background-color: #161412;
        color: #fff;
    }
    .categories.hide{
        display: none;
    }
}
@media(max-width: 480px){
    
    .slick-dots {
        position: absolute;
        left: -50px;
    }
}
